.container{
  margin-left: 20px;
  margin-bottom: 100px;
}
.card{
  margin-top: 5rem;
  text-transform: uppercase;
  opacity: 90%;
}
h1{
  padding: 10px 20px 10px 20px;
}
.card:hover{
  opacity: 100%;
}
