<div
  class="navbar navbar-expand-lg fixed-top justify-content-center justify-content-between"
>
  <img
    routerLink=""
    class="logo"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Target_logo.svg/1541px-Target_logo.svg.png"
    alt="logo"
  />
  <div>
    <button class="button" *ngIf="this.userService.admin" routerLink="/create">
      New Post
    </button>
    <button class="button" (click)="toggleUser()">Switch User</button>
    <button class="about" routerLink="/about">About</button>
  </div>
</div>
